<div class='panel panel/primary'>
    <div class='panel-heading'>
        {{tableHeader}}
        <button type="button" [routerLink]="['/addLink']"
                class="btn btn-default">Add Link</button>
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Link</th>
                        <th>Category</th>
                        <th>Best before</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let item of links'>
                        <td>{{ item.description }}</td>
                        <td><a href="{{item.urlString}}" target="_blank">{{ item.urlStringAbbreviated }}</a></td>
                        <td>{{ item.category.categoryName }}</td>
                        <td>{{ item.bestBefore | date: 'yyyy-MM-dd' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
