<div class='panel panel/primary'>
    <div class='panel-heading'>
        {{tableHeader}}
        <button type="button" [routerLink]="['/addCategory']"
                class="btn btn-default">Add Category</button>
        
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Last assigned to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let item of categories'>
                        <td>{{ item.categoryName }}</td>
                        <td>{{ item.categoryDescription }}</td>
                        <td>{{ item.dateLastAssignedTo | date: 'yyyy-MM-dd (EEE)' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>